<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<style>
    ul{
       list-style: none;
    }
</style>
<body>
    <div class="app">
        <ul>
            <li v-for="(a,b) in arr">{{b}}---{{a}}</li>
        </ul>
        <ul>
            <li v-for="(a,b) in arr1">
                <span>学生姓名:{{a.name}}</span>
                <span>学生年龄:{{a.age}}</span>
            </li>
        </ul>
        <ul>
            <li v-for="(a,b) in dog">
                <span>{{a}}{{b}}</span>

            </li>
        </ul>
    </div>

    <script>
       let vm= new Vue({
            el:'.app',
            data:{
                msg:'hello word',
                arr:[1,2,3,'lily'],
                arr1:[
                    {name:'zs',
                    age:12},
                    {name:'zs',
                        age:13},
                    {name:'zs',
                        age:14}
                ],
                dog:{
                    name:'dd',
                    age:11,
                    color:'white'
                }
            }

        })
    </script>
</body>
</html>