<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    ul {
        list-style: none;
    }
    .red{
        background: red;
    }
</style>

<body >
<div id="app">
    <h1 class="text-center">todolist</h1>
    <div class="row text-center">
        <form class="form-inline" @submit.prevent>
            <div class="form-group">
                <label for="exampleInputName2">商品名称</label>
                <input v-model="keyword" type="text" class="form-control" id="exampleInputName2" placeholder="请输入商品名称">
            </div>

            <button @click="search()" type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>
    <div class="row text-center">
        <form class="form-inline" @submit.prevent>
            <div class="form-group">
                <label >商品名称</label>
                <input v-model="pname" type="text" class="form-control"  placeholder="商品名称">
            </div>
            <div class="form-group">
                <label >商品价格</label>
                <input v-model="pprice" type="text" class="form-control"  placeholder="商品价格">
            </div>
            <button @click="add()" type="submit" class="btn btn-default">添加</button>
        </form>
    </div>
    <table class="table text-center">
        <tr>
            <td>删除</td> <td>名称</td> <td>价格</td> <td>删除</td>
        </tr>
        <tr v-for="(c,i) in pro" v-bind:class="c.redok?'red':''"  @click="select(c)">
            <td><input @click.stop type="checkbox" v-model="clist" :value="i"></td><td>{{c.name}}</td><td>{{c.price}}</td><td><button @click="del(i)">删除</button></td>
        </tr>
        <tr><td><button @click="delChecked()">删除选择</button></td><td colspan="3">总价是:{{total}}元</td></tr>

    </table>


</div>

<script>
   let vm=new Vue({
       el:'#app',
       data:{
           pro:[
               {name:'衣服',price:22,redok:false},
               {name:'衣服',price:23,redok:false},
               {name:'衣服',price:23,redok:false},
               {name:'衣服',price:12,redok:false},
               {name:'衣服',price:123,redok:false},
               {name:'裤子',price:123,redok:false},

           ],
           clist:[],
           pname:'',
           pprice:0,
           keyword:''
       },
       methods:{
           select(c){
               c.redok=!c.redok;
           },
           del(index){
               this.pro.splice(index,1);
           },
           delChecked(){
              this.pro= this.pro.filter((elem,index)=>{
                    if(!this.clist.includes(index)){
                        return elem;
                    }
               })
               this.clist=[];

           },
           add(){
               this.pro.push({
                   name:this.pname,
                   price:this.pprice,
                   redok:false
               })
               this.pname='';
               this.pprice=0;
           },
           search(){
               this.pro= this.pro.filter((elem)=>{
                    if(elem.name.includes(this.keyword)){
                        return elem;
                    }
                })
           }
       },
       computed:{
           total(){
               let sum=0;
               let arr1=this.pro.map((elem,index)=>{
                   if(elem.redok){
                       sum+=parseInt(elem.price);
                   }
               })
               return sum;
           }
       }
   })

</script>
</body>
</html>